subscription_id   = "00000000-0000-0000-0000-000000000000"
github_owner      = "your-github-user-or-organization"
github_repository = "azure-gitea-aca"
storage_account_name = "replacewithgloballyuniquename"
