resource_group_name  = "terraform-state-rg"
storage_account_name = "replacewithgloballyuniquename"
container_name       = "tfstate"
key                  = "azure-gitea-aca/prod/terraform.tfstate"
use_azuread_auth     = true
